:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  padding: 50px;
  border: transparent!important;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

@media (max-width: 680px) {
  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card{
    box-shadow: none;
  }
  
  table {
    font-size: 0.8rem;
  }
}
